.Rproj.user
.Rhistory
.RData
.Ruserdata
citation-csv
imprint
_book
_book.zip
_bookdown_files
all_journals_word_list.RData
lda-bookdown.Rproj
lda-summary.tex
topic_summary.R
gifs
Rplot.jpeg
category_confirm_idealism_version.R
cross_check.R
data
graph01.gif
graph02.gif
graph03.gif
old_style.css
covid.csv
wsa.gif
.DS_Store
_book copy
bib_generator.R
temp.bib
temp.bib.zip
cache
chap-4-to-do
index-Word-old-edited.Rmd
libs
newsletter
big_tibble.RData
article_year_tibble.RData
word_year_count.RData
word_year_journal_count.RData
.RDataTmp
lda-weatherson.pdf
metadata-fourjournals-to-1969.RData
metadata-fourjournals-to-2016.RData
my_lda_100.RData
unigrams-fourjournals-to-1969.RData
unigrams-fourjournals-to-2016.RData
unigrams_bigthree_prewar.RData
early_lda.RData
early_articles.RData
early-mind
allgrams-mind-1903-to-1939.RData
allgrams_mind_prewar.RData
metadata-mind-1903-to-1939.RData
mind_lda.RData
common_mind_words.RData
mind-lda-summaries
mind-lda-summary.pdf
mind-lda-summary.tex
mind-lda-summary5061789-2.log
mind-lda-summary5061789-2.tex
mind-lda-summary_cache
2022-data
jphil_lda.RData
