p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
img {
  margin-top: 5px;
  margin-bottom: 5px;
}
thead{
  margin-top: 100px;
}
tbody{
  margin-bottom: 80px;
}