Highly_Cites_Articles.RData
Indian-authors.txt
Rplot.png
Rplot01.png
Rplot02.png
Rplot03.png
Rplot04.png
Rplot05.png
Rplot06.png
Rplot07.png
Rplot08.jpeg
Rplot09.jpeg
Rplot10.jpeg
Word_Distribution.md
all_journals_article_list.RData
american.R
american.RData
analyse_lda_jan_2.R
append_metadata.R
append_to_table.R
article_fix.R
atlantic.R
backup_intro.txt
binary_keywords.RData
binary_tracker.RData
buzzwords.R
categories.md
category-summary-22031848-90-r15.csv
category_confirm.R
category_confirm_feb_26.R
category_gamma.RData
category_gamma_recreate.R
changes.R
chap_two_facet_labels.R
check_indian_article.md
check_size.R
code_for_buzzword_section.R
common_words.R
compare-LDA.txt
correlation_and_kind.R
correlations.R
correlations.Rmd
covid.png
covid_us_county_graphs.R
decile_graph.R
double_topic.R
epistemology.R
epistemology_finder.R
epistemology_topics.md
era_and_decade.R
extract_text.R
foreign_words.RData
frege-russell.R
generate_lda.R
get_high_cite_articles.R
imprint-titles.csv
imprint.Rmd
indian_articles.RData
indian_articles_two.RData
individual_article.R
keywords.md
lda-summary.txt
lda_5_12.RData
lda_5_4.RData
lda_april_30.csv
low_values.R
march28.jpg
march29.jpg
master_busy_topics_20.RData
master_busy_topics_24.RData
may_day.png
may_graph_style.R
mca.R
mid_century.R
mid_lda.RData
mid_lda.Rmd
mind_notes.txt
monist_remove.R
most_and_least_certain.R
neighbours.Rmd
overall_stats.R
page_ratio.R
perplexity_check.R
preamble.tex
recent_word_finder.R
regrets.Rmd
sort_to_eras.R
sorting_check.R
split_notes.txt
split_topics.R
split_topics_feb_23.R
strengths_and_weaknesses.md
subtopics.RData
topic69.Rmd
topic_26_notes.txt
topic_4_notes.R
topic_76_notes.txt
topic_82_notes.md
topic_9_notes.txt
topic_summary_old.R
typicality_measure.R
typicality_measure_jan_8.R
typicality_measure_large.R
uk_us.Rmd
weight_ratio_test.R
weird_words.R
wide_gamma.R
word_length.R
